header {
  display: flex;
  flex-direction: column;
  background-image: url(../../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
  margin-top: -80px;
  margin-bottom: 40px;
  color: hsl(233, 26%, 24%);
  //   ba

  .hero-img {
    order: 1;
    margin-top: -70px;
    img {
      width: 100%;
    }
  }
  .hero-text {
    order: 2;
    text-align: center;
    margin-top: 30px;

    h1 {
      @include heading-1;
    }

    p {
      margin: 15px 25px;
      font-weight: 400;
      font-size: 14px;
      color: hsl(233, 26%, 24%);
    }
    button {
      @include button;
    }
  }
}
