@mixin button {
  width: 120px;
  margin-right: auto;
  cursor: pointer;
  height: 35px;
  border-radius: 20px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  border: 0;
  outline: 0;

  &:hover {
    background: linear-gradient(
      to left,
      hsl(136, 65%, 51%),
      hsl(136, 79%, 65%)
    );
  }
}

@mixin heading-1 {
  font-weight: 400;
  margin: 0 20px;
}
